<p-menubar [model]="menuItems" [dt]="{ root: { borderRadius: '0' } }">
  <ng-template #start>
    <a routerLink="/" class="no-underline text-inherit font-medium text-xl">MallHub</a>
  </ng-template>

  <ng-template #end>
    @if (authService.isAuthenticated()) {
      <span class="mr-4">{{ authService.user()?.firstName }}</span>
    } @else {
      <p-button label="Se connecter" [text]="true" routerLink="/login" />
      <p-button label="S'inscrire" routerLink="/register" class="ml-2" />
    }
  </ng-template>
</p-menubar>
