@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
}

body {
  font-family: var(--font-sans);
  background-color: var(--p-surface-100);
}

:root {
  --app-navbar-height: 4rem;
}

app-root,
app-front-office {
  display: block;
}
